.App {
  text-align: center;
}

.form-box {
  margin: 0vw;
  padding: 5vw;
  position: relative;
}

.form-box label {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0 0 2vh 0;
}

.form-box input {
  display: block;
  border: 1px solid gray;
  width: 100%;
  padding: .5rem .8rem .5rem .8rem;
  margin: .9vw 0;
  border-radius: 5px;
  font-size: 20px;
}

.submitBtn {
  display: inline-block;
  width: 30%;
  height: 2rem;
  color: red;
  border: 0;
  bottom: 0;
  cursor: pointer;
  font-size: 20px;
  /* position: absolute; */
  margin: 30px;
}

.submitBtn:hover {
  background-color: rgb(245, 245, 78);
  transition: 1s background ease;
}